<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ozeh.apps.footballcc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name="com.ozeh.apps.footballcc.providers.DataProvider"
            android:authorities="com.ozeh.apps.footballcc"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:multiprocess="true"
            android:readPermission="android.permission.permRead"
            android:writePermission="android.permission.permWrite" >
        </provider>

        <activity
            android:name="com.ozeh.apps.footballcc.FullscreenActivity"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ozeh.apps.footballcc.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.ozeh.apps.footballcc.NewChampActivity"
            android:label="@string/title_activity_new_champ" >
        </activity>
        <activity
            android:name="com.ozeh.apps.footballcc.DashboardActivity"
            android:label="@string/title_activity_dashboard" >
        </activity>
        <activity
            android:name="com.ozeh.apps.footballcc.TeamDashboard"
            android:label="@string/title_activity_team_dashboard" >
        </activity>
    </application>

</manifest>
